<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097865227076-jlvtc1ckkudipk294nq0qcaq6oh4qr5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097865227076-jlvtc1ckkudipk294nq0qcaq6oh4qr5r</string>
	<key>API_KEY</key>
	<string>AIzaSyAN7RiZfzq98U2AAGXscEx-JuH6-NIjrAI</string>
	<key>GCM_SENDER_ID</key>
	<string>1097865227076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>work.emno.chakuyo-bako.chakuyo-bako</string>
	<key>PROJECT_ID</key>
	<string>chakuyo-bako</string>
	<key>STORAGE_BUCKET</key>
	<string>chakuyo-bako.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097865227076:ios:6850d31241712625</string>
	<key>DATABASE_URL</key>
	<string>https://chakuyo-bako.firebaseio.com</string>
</dict>
</plist>